* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/IMG-20230430-WA0004.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  /* align items center vertically and horizontally  */
  .container{
    display: flex;
    justify-content: center;
    align-items:center !important;
    height: 100vh;
  }
  .form{
    width: 350px;
    height: 450px;
    background-color: rgba(41, 39, 39, 0.3);
    box-shadow: 0 5px 30px black;
  }
  .btn button {
    padding: 3px;
    margin: 30px 0px 40px 30px;
    border-style: none;
    background-color: transparent;
    color: beige;
    font-size: 18px;
    font-weight: 550;
  }
  .formGroup{
    display: flex;
    justify-content: center;
  }
  .formGroup input{
    border: none;
    width: 80%;
    border-bottom: 2px solid white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: white;
  }
  input:focus {
    outline: none !important;
    border-bottom: 2px solid rgb(216, 27, 27);
    font-size: 17px;
    font-weight: bold;
    color: white;
  }
  ::placeholder {
    color: white;
  }
  .checkBox{
    display: flex;
    justify-content: center;
    margin: 16px!important;
  }
   
  #checkbox{
    margin-right: 10px;
    height: 15px;
    width: 15px;
  }
  .text{
    color: rgb(199, 197, 197);
    font-size: 13px;
  }
  .btn1{
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    background-color: rgb(185, 16, 16);
    border-style: none;
    color: white;
    font-weight: 600;

  }
  .btn1:hover{
    background-color: rgba(221, 12, 12, 0.5);
  }
  .btn button:hover{
    border-bottom: 2px solid rgb(243, 114, 91);
  }
  .btn2{
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    background-color: rgb(187, 11, 11);
    border-style: none;
    color: white;
    font-weight: 600;
  }
  .btn2:hover{
    background-color: rgba(214, 27, 13, 0.5);
  }
  .btn button:hover{
    border-bottom: 2px solid rgb(216, 41, 41);
  }
   
  /* hide signup form */
  .login{
    display: none;
  }
   
  /* Login form code */
  .login{
    margin-top: 40px;
  }
  .login .checkBox{
    margin-top: 30px !important;
  }
  .ak{
    text-decoration: none;
    color:blue;
  }